@font-face {
    font-family: Bebas Neue;
    src: url(FONTS/BebasNeue.otf);
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

* {
    letter-spacing: 10px;
}

h1 {
    font-family: 'Bebas Neue';
    font-size: 2em;
}

h2 {
    font-family: 'Roboto Mono', monospace;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.nav {
    width: 100%;
    background-color: black;
    height: 80px;
    position: fixed;
    z-index: 1;
}

.nav-icon {
    color: white;
    position: relative;
    top: 12px;
}

.nav-icon:hover {
    color: darkgrey;
}

#menu-icon {
    font-size: 35px;
    width: 40px;
    top: 14px;
}

#cart-icon {
    font-size: 28px;
    margin-left: 510px;
}

.closebtn {
    font-size: 35px;
    margin-top: 0px;
    margin-right: 20px;
    height: 55px;
    z-index: 2;
}

.sidenav {
    height: 0;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #000000;
    overflow-y: hidden;
    transition: 1s;
    padding-top: 15%;;
    
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fffaff;
    display: block;
    transition: 0.3s;
    text-align: center;
}

.sidenav a:hover {
  color: #ffffff;
}

.offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 5px;
    right: 15px;
    font-family: "Bebas Neue";
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#opmenu {
    font-family: "Bebas Neue";
}

.main {
    height: 710px;
    background-image: url(IMG/SLIDER/SLIDE1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.dope-menu {
    margin: auto;
}

#giant-icon {
    margin-top: 170px;
    margin-left: 440px;
    max-height: 350px;
}

.dope-menu-item {
    font-family: "Bebas Neue";
    font-size: 25px;
    color: white;
    position: absolute;
}

#tienda-item {
    margin-top: 125px;
    margin-left: 560px;
    
}

#lookbook-item {
    margin-top: 325px;
    margin-left: 325px;
    transform: rotate(-90deg);
}

#nosotros-item {
    margin-top: 325px;
    margin-left: 743px;
    transform: rotate(90deg);
}

#diario-item {
    margin-top: 535px;
    margin-left: 563px;
}

#est {
    font-family: "Bebas Neue";
    font-size: 25px;
    color: white;
    text-align: center;
    margin-top: 90px;
    line-height: 30px;
}

#logo-nav {
    max-height: 50px;
    margin-top: 18px;
    margin-left: 5px;
}

#div-2 {
    height: 710px;
    background-color: white;
    background-attachment: scroll;
    padding-top: 100px;
}



/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 413px) {
    #menu-icon {
        font-size: 30px;
        top: 17px;
    }
    
    #cart-icon {
        font-size: 28px;
        margin-left: 85px;
        top: 16px;
    }
    
    .closebtn {
        font-size: 30px;
        margin-right: -10px;
    }
    
    .sidenav {
        padding-top: 225px;
    }
    
    #est {
        color: white;
        text-align: center;
        margin-top: 100px;
        line-height: 30px;
    }
    
    .main {
        height: 660px;
    }
    
    #giant-icon {
        margin-top: 230px;
        margin-left: 65px;
        width: 60%;
    }

    .dope-menu-item {
        font-size: 25px;
        color: white;
        position: absolute;
    }

    #tienda-item {
        margin-top: 188px;
        margin-left: 118px;
    }

    #lookbook-item {
        margin-top: 315px;
        margin-left: -40px;
        transform: rotate(-90deg);
    }

    #nosotros-item {
        margin-top: 325px;
        margin-left: 220px;
        transform: rotate(90deg);
    }

    #diario-item {
        margin-top: 445px;
        margin-left: 121px;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) and (min-width: 414px){
    #menu-icon {
        font-size: 30px;
        top: 17px;
    }
    
    #cart-icon {
        font-size: 28px;
        margin-left: 105px;
        top: 16px;
    }
    
    .closebtn {
        font-size: 30px;
        margin-right: -10px;
        margin-bottom: 50px;
    }
    
    .sidenav {
        padding-top: 250px;
    }
    
    #est {
        color: white;
        text-align: center;
        margin-top: 90px;
        line-height: 30px;
    }
    
    .main {
        height: 730px;
    }
    
    #giant-icon {
        margin-top: 230px;
        margin-left: 75px;
        width: 60%;
    }

    .dope-menu-item {
        font-size: 25px;
        color: white;
        position: absolute;
    }

    #tienda-item {
        margin-top: 188px;
        margin-left: 138px;
    }

    #lookbook-item {
        margin-top: 325px;
        margin-left: -30px;
        transform: rotate(-90deg);
    }

    #nosotros-item {
        margin-top: 335px;
        margin-left: 250px;
        transform: rotate(90deg);
    }

    #diario-item {
        margin-top: 468px;
        margin-left: 141px;
    }
}

#brand-footer {
    height: 350px;
    background-color: black;
    padding-top: 25px;
}

#footer-content {
    height: 300px;
    background-color: black;
    margin: auto;
}

#f-s1 {
    color: white;
    font-size: 1.5em;
    font-family: 'Roboto Mono', monospace;
    padding-top: 90px;
}

#f-s2 {
    color: white;
    font-size: 1.5em;
    font-family: 'Roboto Mono', monospace;
    padding-top: 30px;
    align-content: center;
    align-items: center;
    text-align: center;
}

.button-sn {
    width: 170px;
    height: 60px;
    border: 4px solid white;
    font-family: 'Roboto Mono', monospace;
    font-size: 0.9em;
    letter-spacing: 2px;
    color: black;
    background-color: white;
}

#sn-row {
    margin-left: 60px;
    margin-top: 20px;
}

#sn1 {
    padding-top: 8px;
    padding-left: 1px;
    margin-left: 20px;
    float: left;
}

#sn2 {
    padding-top: 8px;
    padding-left: 1px;
    margin-left: 20px;
    float: left;
}

#logo-footer {
    max-height: 90px;
    margin-top: 30px;
    margin-left: 0px;
}

#f-s3 {
    color: white;
    font-size: 1.5em;
    font-family: 'Roboto Mono', monospace;
    padding-top: 100px;
}


#dev-footer {
    height: 100px;
    background-color: white;
}

.dev-info {
    height: 80px;
    width: 50%;
    margin: auto;
    margin-top: 15px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    color: black;
}

#dev-text {
    letter-spacing: 1px;
}

#ig-link {
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
}

#ig-link:hover {
    text-decoration: underline;
}

@media (max-width: 576px) {
   #brand-footer {
        height: 550px;
        background-color: black;
        padding-top: 25px;
    }

    #footer-content {
        height: 300px;
        background-color: black;
        margin: auto;
    }

    #f-s1 {
        color: white;
        font-size: 0.9em;
        font-family: 'Roboto Mono', monospace;
        padding-top: 20px;
        text-align: center;
    }

    #f-s2 {
        color: white;
        font-size: 1.075em;
        font-family: 'Roboto Mono', monospace;
        padding-top: 30px;
        text-align: center;
        align-items: center;
    }

    .button-sn {
        width: 60px;
        height: 60px;
        border: 4px solid white;
        font-family: 'Roboto Mono', monospace;
        font-size: 1.25em;
        letter-spacing: 2px;
        color: black;
        background-color: white;
    }

    #sn-row {
        margin-left: 0px;
        margin-top: 20px;
    }

    #sn1 {
        padding-top: 3px;
        padding-left: 1px;
        padding-top: 9px;
        margin-left: 0px;
        float: left;
    }

    #sn2 {
        padding-top: 3px;
        padding-left: 1px;
        padding-top: 9px;
        margin-left: 50px;
        float: left;
    }

    #sn3 {
        padding-top: 3px;
        padding-left: 1px;
        padding-top: 9px;
        margin-left: 50px;
        float: left;
    }

    #sn4 {
        display: none;
    }

    #logo-footer {
        max-height: 90px;
        margin-top: 30px;
        margin-left: 0px;
    }

    #f-s3 {
        color: white;
        font-size: 0.9em;
        font-family: 'Roboto Mono', monospace;
        padding-top: 40px;
        text-align: center;
    }
    
    #dev-footer {
        height: 10px;
        background-color: white;
    }

    .dev-info {
        height: 80px;
        width: 100%;
        margin: auto;
        margin-top: 15px;
        text-align: center;
        font-family: 'Roboto Mono', monospace;
        font-size: 14px;
        color: black;
    }
}

#que_es {
    background-color: #595959;
    height: 200px;
    text-align: center;
}

#quees_tittle {
    font-family: 'Bebas Neue';
    font-size: 2em;
    color: white;
    padding-top: 62px;
}

#quees_text {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    color: white;
    letter-spacing: 5px;
}

#best-sellers {
    height: 550px;
    background-color: white;
    padding-top: 40px;
    padding-left: 40px;
}

#bestsellers-tittle {
    font-size: 2.5em;
    
}

.bestseller-img {
    width: 300px;
    height: 300px;
    background-color: aquamarine;
    float: left;
}

#comprar-bestsellers{
    margin-top: 40px;
    margin-left: 35%;
    height: 50px;
    width: 280px;
    background-color: white;
    border: 3px solid black;
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 1.8em;
}

#coleccion {
    height: 700px;
    background-color: #878787;
    padding-top: 40px;
    padding-left: 40px;
}

#text-coleccion {
    color: white;
    text-align: left;
    line-height: 40px;
    font-weight: 100;
}

#vercoleccion-button {
    margin-top: 20px;
    height: 50px;
    width: 360px;
    background-color: #878787;
    border: 3px solid white;
    color: white;
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 1.8em;
}

#vercoleccion-button:hover {
    color: #878787;
}

#img-coleccion {
    width: 500px;
    height: 500px;
    background-color: aquamarine;
    float: left;
}

#ig-feed {
    height: 550px;
    background-color: white;
    padding-top: 40px;
    padding-left: 40px;
}

#igfeed-tittle {
    font-size: 2.5em;
    
}

.igfeed-img {
    width: 250px;
    height: 250px;
    background-color: aquamarine;
    float: left;
}

#igvisit-button {
    margin-top: 20px;
    margin-left: 35%;
    height: 50px;
    width: 280px;
    background-color: white;
    border: 3px solid black;
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 1.8em;
}

#ig-username {
    color: black;
    font-family: 'Roboto Mono', monospace;
    margin-left: 410px;
    text-align: center;
}

#ig-username:hover {
    text-decoration: underline;
}

#form-banner {
    background-color: #bababa;
    height: 250px;
    text-align: center;
}

#form_tittle {
    font-family: 'Bebas Neue';
    font-size: 2em;
    color: white;
    padding-top: 62px;
}

#input-email {
    width: 900px;
    height: 40px;
    color: #bababa;
    text-align: center;
}

#input-email::placeholder {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

#enviar-button {
    margin-top: 20px;
    margin-left: 500px;
    height: 50px;
    width: 260px;
    background-color: #bababa;
    border: 3px solid white;
    color: white;
    font-family: 'Bebas Neue';
    font-size: 1.8em;
    position: absolute;
}

#enviar-button:hover {
    color: #bababa;
}

.slide-tienda {
    height: 710px;
    background-image: url(IMG/SLIDER/SLIDE2.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.slide-lookbook {
    height: 710px;
    background-image: url(IMG/SLIDER/SLIDE3.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.slide-nosotros {
    height: 710px;
    background-image: url(IMG/SLIDER/SLIDE4.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#title-secciontienda {
    color: white;
    font-family: 'Bebas Neue';
    font-size: 10em;
    margin-left: 400px;
    letter-spacing: 25px;
}

#text-secciontienda {
    margin-top: -40px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: white;
    line-height: 45px;
}

#visitartienda-button {
    margin-top: 20px;
    height: 50px;
    width: 360px;
    background-color: black;
    border: 3px solid white;
    color: white;
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 1.8em;
    margin-left: 36%;
}

#visitartienda-button:hover {
    color: black;
}

#title-seccionlookbook {
    color: white;
    font-family: 'Bebas Neue';
    font-size: 10em;
    margin-left: 280px;
    letter-spacing: 25px;
}

#text-seccionlookbook {
    margin-top: -40px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: white;
    line-height: 45px;
}

#verlookbook-button {
    margin-top: 20px;
    height: 50px;
    width: 360px;
    background-color: black;
    border: 3px solid white;
    color: white;
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 1.8em;
    margin-left: 36%;
}

#verlookbook-button:hover {
    color: black;
}

#title-seccionnosotros {
    color: white;
    font-family: 'Bebas Neue';
    font-size: 10em;
    margin-left: 280px;
    letter-spacing: 25px;
}

#conocenos-button {
    margin-top: 120px;
    height: 50px;
    width: 360px;
    background-color: black;
    border: 3px solid white;
    color: white;
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 1.8em;
    margin-left: 36%;
}

#conocenos-button:hover {
    color: black;
}