.nav-diario {
    background-color: #2dc76d;
}

.diario-jumbotron {
    background-color: lightgray;
    height: 230px;
    text-align: center;
    padding-top: 120px;
} 

.diario-title {
    color: #2dc76d;
    font-size: 4.25em;
}

.article {
    height: 400px;
}

.subtitle-diario {
    letter-spacing: 1px;
    font-size: 1em;
    line-height: normal;
}

.article-content {
    letter-spacing: 1px;
    font-size: 1em;
    line-height: normal;
    text-align: justify;
}