.nav-nosotros {
    background-color: #fbc65c;
}

.nosotros-jumbotron {
    background-color: lightgray;
    height: 300px;
    text-align: center;
    padding-top: 120px;
} 

.section {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.section-title {
    color: #fbc65c;
    letter-spacing: 4px;
}

.section-text {
    letter-spacing: 4px;
}